@import 'var';

body
{
    background-color:white;
    margin-left: 5em;
}
header
{
    max-width:1248px;
    height: 650px;
    background-image: url("header.jpg");
    background-size: cover;
}
.entete {
    width: $width;
    height:10%;
    background-color: lightgrey;
    opacity: .5;
    filter: alpha(opacity=50);
    .entete__bandeau {
                    display: flex;
                    justify-content: center;
                    width: $width;
                    height: $w5;
                    .entete__fusee {
                                    width: 10%;
                                    height: 4%;
                                    .entete__fusee-logo {
                                                        margin-left: 481%;
                                                        margin-top: 2%;
                                                        width: 46%;
}
}
}
}
ul
{
    display: flex;
    flex-direction: row;
}ul li ul
{
    width: 10%;
}
li img
{
    width: 10%;
}
.menu ul 
  {
    margin:0;
    padding:0;
    list-style-type:none;
    /*text-align:center;*/
    width:80%;
    }
  
 .menu li {
  float:left;
  margin:auto;
  padding:0;
  }
 
 .menu li:hover ul li {
      float:none;
      background-color: #717171;
      width: 90%;
      }
.menu ul li:hover ul 
        {position:absolute;
         }
.menu ul li:hover ul 
          {
          display:block;
          }
.menu ul li ul 
          {
            display:none;
          }
img .entete__background-img
{
    width: $width;
    height: 15%;
}
.entete__logo
{
    width: 20%;
    margin-bottom:$w1;
    padding: $w1;
    margin-left: 60%;
}
.entete__logo-menu
{
    width: $w40;
    margin-left: 80%;
}
.entete__logo-maison
{
    width: $w40;
    margin-left: 80%;
}
.decouverte {
    width:95%;
    display: flex;
    flex-direction: row;
    padding: 2%;
    .decouverte__apprendre {
                width: $w33;
   }
}
.explorer
{
    width: $w33;
}
.anticiper
{
    width: $w33;
}
.decouverte__picto
{
    width: $w85;
    height: $width;
    background-color: lightgrey;
    padding: $w1;
}
.decouverte__picto-ant 
{
    width: $w85;
    height: $width;
    background-color: lightgrey;
    padding: $w1;
    box-shadow: 8px 8px 0px #aaa;   
}
.decouverte__picto-astronaut
{
    margin-left: $w20;
    margin-top: $w5;
    width:$w60;
}
.decouverte__picto-lune
{
    overflow: hidden;
    -moz-transition-duration:0.6s;
    -moz-transition-timing-function:ease;
    -webkit-transition-duration:0.6s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.6s;
    transition-timing-function:ease;
    margin-left: 15%;
    width: 65%;
    height: auto;
}
@mixin anim($property){
    -webkit-transform: $property;
    -ms-transform:$property;
    anim:$property;
}    
.decouverte__picto-lune:hover
        {
            @include anim(rotate(360deg));
        }
.decouverte__picto-fusee
{
    margin-left: $w20;
    margin-top: $w5;
    width:$w60;
}
article
{
    text-align: center;
    font-size: 1.5vw;
}
.barre-grise
{
    display: flex;
    flex-direction: row;
    width: 94%;
    margin-top: 1%;
    height: 150px;
    background-image: url("barre_grise.png");
}
strong
{
    margin-top: 2%;
    height: 80px;
    margin-left: 15%;
    font-size: 2vw;
}

h2
{
    font-size: 2.5vw;
}
.barre-grise__astronaut
{
    width: 33%;
    height: 148%;
    margin-left: -7%;
    margin-top: -5%;
    overflow: hidden;
}
// ANIMATION ASTRONAUT //

.barre-grise__astronaut:hover {
    position:relative;
    animation: combined 6s linear infinite;
    -webkit-animation: combined 6s linear infinite;
    left:0;top:0;
}
@keyframes combined {
    78%, 48%, 16%  {
        top: -390px;
        animation-timing-function: ease-out;
    }
    32% {
        top: -50px;
        animation-timing-function: ease-in;
    }
    62% {
        top: -100px;
        animation-timing-function: ease-in;
    }
    90% {
        top: -150px;
        animation-timing-function: ease-in;
    }
    100% {
        transform: rotate(360deg);
        top: -190px;
        animation-timing-function: ease-out;
        left:-100%;
    }
}
@-webkit-keyframes combined {
    78%, 48%, 16%  {
        top: -390px;
        -webkit-animation-timing-function: ease-out;
    }
    32% {
        top: -50px;
        -webkit-animation-timing-function: ease-in;
    }
    62% {
        top: -100px;
        -webkit-animation-timing-function: ease-in;
    }
    90% {
        top: -150px;
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: rotate(360deg);
        top: -190px;
        -webkit-animation-timing-function: ease-out;
        left:-100%;
    }
}

// ANIMATION ASTRONAUT//
.barre-grise__dessin-astro
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 10%;
}
aside
{
    margin-top: 7%;
    margin-bottom: $w20;
    padding: 3%;
    padding-bottom: 5%;
    color: lightblue;
    border-style: solid;
    overflow: hidden;
}
.alien
{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.alien__logo
{
    width: $w50;
}
.alien__picto-soucoupe
{
    margin-left: 25%;
    width: $w50;
}
.alien__texte
{
    color:black;
    border-style:solid;
    border-width: thin;
    width: 41%;
    height: 200px;
    text-align: center;
    font-size: 1.7vw;
    background-color: transparent;
    border: 1px solid black;
    perspective: 1000px;
        p{
        font-size: 1.5vw;
        margin-left: 2%;
    }
}
em
{
    color: lightblue;
}
// ANIMATION//

  .alien__texte-flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .alien__texte:hover .alien__texte-flip-box-inner {
    transform: rotateY(180deg);
  }

  .alien__texte-flip-box-front, .alien__texte-flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .alien__texte-flip-box-front {
    background-color:none;
    color: black;
  }
  
  .alien__texte-flip-box-back {
    background-color: red;
    color: white;
    transform: rotateY(180deg);
  }

//ANIMATION //
span
{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}
cite
{
    font-size: 1vw;
}
input[type=text], select {
    width: $width;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=email], select {
    width: $width;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit], {
    width: 30%;
    background-color: #54bbd4;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 40%;
}

input[type=submit]:hover {
    background-color: #4CAF50;
}

.margeform {
     padding: 20px;
}
.formulaire
{
    margin-top: $w5;
    width: 93%;
    height: $w50;
    display: flex;
    flex-direction: row;
}
.formulaire__contact
{
    margin-left: 10%;
    width: $w50;
    display: flex;
    flex-direction: column;
}
.formulaire__humain
{
    margin-bottom: 2%;
    margin-top: $w5;
    width: 78%;
    display: flex;
    flex-direction: row;
    position: relative;
}
// ANIMATION //
.astro-picto
{
    margin-right: $w5;
    position: relative;
}
.tdm {
    position: absolute;
    width: 13%;
    top: 19%;
    left: 10%;
    opacity: 0.2;
    display: none;
    /*transition: all 2s;*/
}
.formulaire__humain:hover .tdm
{
    display: block;
 }
// ANIMATION //
textarea
{
    width: $width;
}
.cadre
{
    padding: $w5;
    background-color: lightgrey;
}
label
{
    font-size: 1vw;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.bas-page
{
    width:94%;
}
.bas-page__cloud
{
    width: $width;
}
.bas-page__texte
{
    width: 99%;
    height: 0.5%;
    background-color: rgb(84, 84, 121);
    margin-top: -1%;
    padding: 0.5%;
    text-align: center;
    p{color: white;
    cite{color: black;
        font-family: Arial, Helvetica, sans-serif;

    }
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    body
    {
        margin:0%;
    }
    header
{
    max-width:765px;
    height: 332px;
    margin-left: 2%;
    background-size: cover;
}       
    .barre-grise
    {
        margin-left: 1%;
    }
    cite
    {
        font-size: 1.5vw;
    }
    p
    {
        font-size: 1.5vw;
    }
    span
    {
        font-size: 3vw;
    }
    h2
    {
        font-size: 3vw;
    }
   }
/* Extra small devices (phones, 600px and down) */
@media only screen  and (max-width: 600px) {
    body
    {
        
        margin:0;
    }
    header
    {
        max-width:600px;
        height: 330px;
        margin-left: 1%;
        background-size: cover;
    }
    .entete__logo
    {
        margin-left: 0%;
    }
    .entete .entete__bandeau .entete__fusee .entete__fusee-logo
    {
        margin: 0%;
    }
    .decouverte
    {
        flex-direction: column;
        width: 100%;
        margin-left: 10%;
    }    
    .decouverte .decouverte__apprendre{
            width: $w85;
            margin-bottom: 2%;
    }
    /*.decouverte__columns{
        width: 100%;
    }*/
    .explorer
    {
        width: $w85;
        margin-bottom: 2%;
    }
    .anticiper
    {
        width: $w85;
        margin-bottom: 2%;
    }

    article
    {
        font-size: 2.7vw;
        h2{
            font-size: 3vw;
        }
    }
    .barre-grise
    {
        flex-direction: row;
        margin-left: 2%;
        strong {
            margin-left:7%;
            width:100px;
            h2{
                margin-top: 40%;
            }
        }
    }
    .decouverte__picto
    {
        height: 380px;
    }
    aside
    {
        font-size: 3vw;
        margin-bottom: 10%;
        padding: 5%;
        margin-top: 15%;
    }
    .alien
    {
        flex-direction: column;
    }
    .alien__logo
    {
        width: $width;
    }
    .alien__texte
    {
        width: $w85;
        margin-left: 7%;
        p{
            font-size: 2vw;
        }
    }
    .formulaire
    {
        flex-direction: column;
        .formulaire__contact{
            width: 100%;
        }
    }
    cite
    {
        font-size: 2.5vw;
    }
    label
    {
        font-size: 2vw;
    }
}


$information-phone: "only screen and (min-width:100px) and (max-width : 320px)";
@media #{$information-phone} {
    header
    {
        max-width:320px;
        height: 110px;
        margin-left: 0%;
        background-size: cover;
    }
    .decouverte
    {margin-left: 2%}
    .decouverte__picto
    {
        width: $width;
        height: 250px;
    }   
    .decouverte__picto-ant
    {
        width: $width;
        height: 250px;
    }
    .barre-grise
    {
        flex-direction: column;
    }
    .barre-grise strong
    {
        font-size: 3vw;
        margin-left: 40%;
    }
    .alien__texte
    {
        font-size: 3vw;
    }
    h1 p
    {
        font-size: 2vw;
    }
    span
    {
        font-size: 3vw;
    }
    label
    {
        font-size: 3vw;
    }
}
