body {
    background-color: black;
}
#sidebar
{
    width: 60px;
    border-style: solid;
    border-radius: 15px;
    z-index: 6;
    background-color: orchid;
}
.avatar
{
    border-radius: 50%;   
}
.tabs-content.carousel .carousel-item { height:auto; }
.col .s1{
    padding-top: 10%;
  }
.col .menu
{
    position:absolute;
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
.container {
    padding-top: 5%;
}
.col .s9{
    color: black;
}
.col_forest {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.row h2
{
    margin-left: 1%;
}
.drapeau
{
    margin-top: 40%;
    width: 150px;
    height: auto;
}
.drap
{
    font-size:0.2vw;
    padding:0%;
}
.text
{
 font-size: 1.1vw;
 height :250px;
 margin-top:50%;
 padding-top: 50%;
}
#p{
    top:270px;
    left:10px;
}
#d{  
    top:270px;
    left:100px;
   }
#bc{
    top: 342px;
    left:70px;
}
#ma{
    top:342px;
    left:115px;
}
#c{
    top:342px;
    left:10px;
}
#s{
    top:327px;
    left:10px;
}
#a{ 
    top:327px;
    left:70px;
}
#h{ 
    top:327px;
    left:140px;
}
#m{
    top:312px;
    left:10px;
}
#v{
    top:312px;
    left:110px;
}
#pp{
    top:312px;
    left:150px;
}
#cm{
    top:300px;
    left:10px;
}
#b{
    top:300px;
    left:170px;
}
#so{
        top:285px;
        left:10px;
}
#se{
    top:285px;
    left:70px;
}
#r
{
    top:285px;
    left:130px;
}
#st{
    top:285px;
    left:170px;
}   
#d, #p
{
    position: absolute;;
    animation: bounce 2 s infinite;
}
@keyframes bounce{
    from {top: 100px;}
    to   {top:  0px;}
}
#c, #bc, #ma{
    position:absolute;
    animation: bounce2 2.s infinite;
}
@keyframes bounce2{
    from {top: 100px;}
    to   {top:  0px;}
}
#s, #a, #h
{
    position:absolute;
    animation: bounce3 2.2s infinite;
}
@keyframes bounce3{
    from {top: 100px;}
    to   {top:  0px;}
}
#m, #v, #pp
{
    position:absolute;
    animation: bounce4 2.3s infinite;
}
@keyframes bounce4{
    from {top: 100px;}
    to   {top:  36px;}
}
#cm, #b
{
    position:absolute;
    animation: bounce5;
    animation-delay: 2.4s infinite;
}
@keyframes bounce5{
    from {top: -100px;}
    to   {top:  0px;}
}
#r, #se, #st, #so
{
    position:absolute;
    animation: bounce5 2.1s infinite;
}
@keyframes bounce5{
    from {top: 100px;}
    to   {top:  0px;}
}
/*animation couleurs*/
/*Pour Chrome, Safari et Opéra*/
@-webkit-keyframes chgt-couleur {
 from {color:white;}
 to {color:orange;
    opacity: 15%;}
}
/*Pour Mozilla*/
@moz-keyframes chgt-couleur {
    from {color:white;}
to {color:orange;opacity: 15%;}
}
/*Syntaxe standard*/
@keyframes chgt-couleur { from {color:white;}
to {color:orange;opacity: 15%;}
  }
 #b, #c, #bc, #d, #s
  {-webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
     -ms-animation-delay: 3s;
      -o-animation-delay: 3s;
         animation-delay: 3s;
    animation-name:chgt-couleur;
    animation-duration: 4s;
    animation-iteration-count: ease;
    animation-direction: alternate;
    -webkit-animation-name: chgt-couleur; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: ease;
    -webkit-animation-direction: alternate;
    -moz-animation-name: chgt-couleur;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: ease;
    -moz-animation-direction: alternate;
}
   /*Pour Mozilla*/
@moz-keyframes chgt-couleur2 {
    from {color:white;}
to {color:red;opacity: 15%;}
}
/*Syntaxe standard*/
@keyframes chgt-couleur2 { from {color:white;}
to {color:red;opacity: 15%;}
  }

    #m, #pp, #r, #s
     {-webkit-animation-delay: 3s;
       -moz-animation-delay: 3s;
        -ms-animation-delay: 3s;
         -o-animation-delay: 3s;
            animation-delay: 3s;
       animation-name:chgt-couleur2;
       animation-duration: 4s;
       animation-iteration-count: infinite;
       animation-direction: alternate;
       -webkit-animation-name: chgt-couleur2; /* Chrome, Safari, Opera */
       -webkit-animation-duration: 4s;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-direction: alternate;
       -moz-animation-name: chgt-couleur2;
       -moz-animation-duration: 4s;
       -moz-animation-iteration-count: infinite;
       -moz-animation-direction: alternate;
   }

/*Pour Mozilla*/
@moz-keyframes chgt-couleur3 {
    from {color:white;}
to {color:green; opacity: 15%;}
}
@-webkit-keyframes chgt-couleur3 {
    from {color:white;}
    to {color:green;
       opacity: 15%;}
   }
 /*Syntaxe standard*/
@keyframes chgt-couleur3 { from {color:white;}
 to {color:green;opacity: 15%;}
   }
 
     #m, #b
     {-webkit-animation-delay: 4s;
       -moz-animation-delay: 4s;
        -ms-animation-delay: 4s;
         -o-animation-delay: 4s;
            animation-delay: 4s;
       animation-name:chgt-couleur3;
       animation-duration: 4s;
       animation-iteration-count: infinite;
       animation-direction: alternate;
       -webkit-animation-name: chgt-couleur3; /* Chrome, Safari, Opera */
       -webkit-animation-duration: 4s;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-direction: alternate;
       -moz-animation-name: chgt-couleur3;
       -moz-animation-duration: 4s;
       -moz-animation-iteration-count: infinite;
       -moz-animation-direction: alternate;
   }

   @moz-keyframes chgt-couleur4 {
    from {color:white;}
to {color:blue;opacity: 15%;}
}
@-webkit-keyframes chgt-couleur4 {
    from {color:white;}
    to {color:blue;
       opacity: 15%;}
   }
 /*Syntaxe standard*/
 @keyframes chgt-couleur4 { from {color:white;}
 to {color:blue;opacity: 15%;}
   }
   
    #a, #cm,
     {-webkit-animation-delay: 5s;
       -moz-animation-delay: 5s;
        -ms-animation-delay: 5s;
         -o-animation-delay: 5s;
            animation-delay: 5s;
       animation-name:chgt-couleur4;
       animation-duration: 4s;
       animation-iteration-count: infinite;
       animation-direction: alternate;
       -webkit-animation-name: chgt-couleur4; /* Chrome, Safari, Opera */
       -webkit-animation-duration: 4s;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-direction: alternate;
       -moz-animation-name: chgt-couleur4;
       -moz-animation-duration: 4s;
       -moz-animation-iteration-count: infinite;
       -moz-animation-direction: alternate;
   }
  
/* ANIMATION PIE CHART */
@keyframes bounce6{
    from {top:-400px;}
    to {top:100px}
}

.chart
{
    position: relative;
    /*top: 100px;*/
    margin-top: 10%;
    animation-name: bounce6;
    animation-duration: 2.6s;
    animation-timing-function: infinite;
    animation-delay: 5s;
    background-color:none;
}

/*PIE CHART*/
.pie {
    position:absolute;
    width:100px;
    height:200px;
    overflow:hidden;
    left:150px;
    -moz-transform-origin:left center;
    -ms-transform-origin:left center;
    -o-transform-origin:left center;
    -webkit-transform-origin:left center;
    transform-origin:left center;
    
    animation-delay: 20s;
}
/*
unless the piece represents more than 50% of the whole chart.
then make it a square, and ensure the transform origin is
back in the center.

NOTE: since this is only ever a single piece, you could
move this to a piece specific rule and remove the extra class
*/
.pie.big {
    width:200px;
    height:200px;
    left:50px;
    -moz-transform-origin:center center;
    -ms-transform-origin:center center;
    -o-transform-origin:center center;
    -webkit-transform-origin:center center;
    transform-origin:center center;
}
/*
this is the actual visible part of the pie. 
Give it the same dimensions as the regular piece.
Use border radius make it a half circle.
move transform origin to the middle of the right side.
Push it out to the left of the containing box.
*/
.pie:BEFORE {
    content:"";
    position:absolute;
    width:100px;
    height:200px;
    left:-100px;
    border-radius:100px 0 0 100px;
    -moz-transform-origin:right center;
    -ms-transform-origin:right center;
    -o-transform-origin:right center;
    -webkit-transform-origin:right center;
    transform-origin:right center;
    
}
/* if it's part of a big piece, bring it back into the square */
.pie.big:BEFORE {
    left:0px;
}
/* 
big pieces will also need a second semicircle, pointed in the
opposite direction to hide the first part behind.
*/
.pie.big:AFTER {
    content:"";
    position:absolute;
    width:100px;
    height:200px;
    left:100px;
    border-radius:0 100px 100px 0;
}
/*
add colour to each piece.
*/
.pie:nth-of-type(1):BEFORE,
.pie:nth-of-type(1):AFTER {
    background-color:blue;	
}
.pie:nth-of-type(2):AFTER,
.pie:nth-of-type(2):BEFORE {
    background-color:green;	
}
.pie:nth-of-type(3):AFTER,
.pie:nth-of-type(3):BEFORE {
    background-color:red;	
}
.pie:nth-of-type(4):AFTER,
.pie:nth-of-type(4):BEFORE {
    background-color:orange;	
}
/*
now rotate each piece based on their cumulative starting
position
*/
.pie[data-start="30"] {
    -moz-transform: rotate(30deg); /* Firefox */
    -ms-transform: rotate(30deg); /* IE */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    -o-transform: rotate(30deg); /* Opera */
    transform:rotate(30deg);
}
.pie[data-start="60"] {
    -moz-transform: rotate(60deg); /* Firefox */
    -ms-transform: rotate(60deg); /* IE */
    -webkit-transform: rotate(60deg); /* Safari and Chrome */
    -o-transform: rotate(60deg); /* Opera */
    transform:rotate(60deg);
}
.pie[data-start="100"] {
    -moz-transform: rotate(100deg); /* Firefox */
    -ms-transform: rotate(100deg); /* IE */
    -webkit-transform: rotate(100deg); /* Safari and Chrome */
    -o-transform: rotate(100deg); /* Opera */
    transform:rotate(100deg);
}
/*
and rotate the amount of the pie that's showing.

NOTE: add an extra degree to all but the final piece, 
to fill in unsightly gaps.
*/
.pie[data-value="30"]:BEFORE {
    -moz-transform: rotate(31deg); /* Firefox */
    -ms-transform: rotate(31deg); /* IE */
    -webkit-transform: rotate(31deg); /* Safari and Chrome */
    -o-transform: rotate(31deg); /* Opera */
    transform:rotate(31deg);
}
.pie[data-value="40"]:BEFORE {
    -moz-transform: rotate(41deg); /* Firefox */
    -ms-transform: rotate(41deg); /* IE */
    -webkit-transform: rotate(41deg); /* Safari and Chrome */
    -o-transform: rotate(41deg); /* Opera */
    transform:rotate(41deg);
}
.pie[data-value="260"]:BEFORE {
    -moz-transform: rotate(260deg); /* Firefox */
    -ms-transform: rotate(260deg); /* IE */
    -webkit-transform: rotate(260deg); /* Safari and Chrome */
    -o-transform: rotate(260deg); /* Opera */
    transform:rotate(260deg);
}
/* animation %*/

.anim{
    margin-top:1%;
    width: 100%;
    height:400px;
    font-size: 10px;
    position: absolute;
    display: none;
    
}
.sales{
            width: 60px;
            background-color:orange;
            padding: 0.5%;
            position:relative;
            animation: bounceInDown 3s infinite;
            animation-fill-mode: both;
            animation-delay:3s;
            }
            @keyframes bounceInDown {
                0% {
                   opacity: 0;
                   -webkit-transform: translateY(-2000px);
                }
                60% {
                   opacity: 1;
                   -webkit-transform: translateY(30px);
                }
                80% {
                   -webkit-transform: translateY(-10px);
                }
                100% { 
                   -webkit-transform: translateY(0);
                }
             }
             .bounceInDown {
                -webkit-animation-name: bounceInDown;
                animation-name: bounceInDown;
             }

.services {
    width: 60px;
    background-color:red;
    padding: 0.5%;
    position:relative;
    animation: bounceInDown 3s infinite;
    animation-fill-mode: both;

    animation-delay: 2s;
            }
@keyframes chute1{
            from {top: -200px;}
            to   {top: 0px;}
            }
.animation{
    width: 60px;
    background-color:green;
    padding: 0.5%;
    position:relative;
    animation: bounceInDown 3s infinite;
    animation-fill-mode: both;

    animation-delay: 4s;
            }
@keyframes chute2{
            from {top: -200px;}
            to   {top: 0px;}
            }
.marketing{
    width: 60px;
    background-color:blue;
    padding: 0.5%;
    position:relative;
    animation: bounceInDown 3.3s infinite;
    animation-fill-mode: both;
    animation-delay: 6s;
            }
@keyframes chute3{
            from {top: -200px;}
            to   {top: 0px;}
            }

.is-visible {
    display: block;
  }
.web {
    position :absolute;
    font-size:2vw;
    height: 400px;
}
#git, #test, #html, #css, #materialize, #bem, #ang, #java
{
    animation-delay: 10s;
    padding: 0.5%;
    position: relative;
    animation: chuteweb 2.3s infinite;
            }
@keyframes chuteweb{
            from {top: -200px;}
            to   {top: 0px;}
            }
            .fa {
                padding: 20px;
                font-size: 30px;
                width: 50px;
                text-align: center;
                text-decoration: none;
                margin: 5px 2px;
              }
              
              .fa:hover {
                  opacity: 0.7;
              }
              
              .fa-facebook {
                background: #3B5998;
                color: white;
              }
              
              .fa-twitter {
                background: #55ACEE;
                color: white;
              }             
              .fa-linkedin {
                background: #007bb5;
                color: white;
              }
span {
    color:gray;
    margin-left: 30%;
    }
.bottom-left
{
    color:white;
    font-family:'Segoe UI';
}
.container2 {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 1.5vw;   
}
#test2
{
    position:absolute;
}
#experience
{
    position: relative;
}
.lorem
{
    font-size: 1vw;
}
.vente
{
    font-size: 1vw;
}
h3
{
    font-size: 3vw;
}
footer
{
    margin-left: 1%;
}
.logo
{
    margin-right:1%;
}
#git{
    top: 10px;
    left: 100px;
}
#testcafe{
    top:10px;
    left:170px;
}
#html{
    top:10px;
    left:230px;
}
#css{
        top:30px;
        left:170px;
}
#materialize{
    top:0px;
    left:170px;
}
#bem
{
    top:150px;
    left:230px;
}
#angular{
    top:280px;
    left:200px;
}
#javascript{
    top:280px;
    left:170px;
}
#git, #testcafe, #html
{
    position: absolute;
    animation: animlog 0.9s ease;
}
@keyframes animlog{
    from {top: 100px;}
    to   {top:  0px;}
}
#css, #materialize, #bem{
    position:absolute;
    animation: animlog2 1.s ease;
}
@keyframes animlog2{
    from {top: 100px;}
    to   {top:  0px;}
}
#angular, #javascript
{
    position:absolute;
    animation: animlog3 1.2s ease;
}
@keyframes animlog3{
    from {top: 100px;}
    to   {top:  0px;}
}
