* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
body
{
    width:940px;
    height:auto;
    background-image: url(images/background_purple.png);
}
.animation
{
    width: 100%;
    height: 50px;
}
.logobat
{
    float: left;
    overflow: hidden;
    -moz-transition-duration:0.6s;
    -moz-transition-timing-function:ease;
    -webkit-transition-duration:0.6s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.6s;
    transition-timing-function:ease;
    margin: 0px;
    width: 5%;
    height: auto;
}

.logobat:hover
{
    -webkit-animation: logobat .6s; 
    animation: logobat .6s; 
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
.texte
{
    font-family: 'Arial Narrow';
    float: left;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 20px;
    color:darkgrey;
    
}
.aura
{
    font-size: 17px;
    color: grey;
    text-align: right;
    text-decoration: none;
    text-indent: 10%;
    margin-top: 1%;
    margin-left:4%;
    overflow:hidden;
    font-family: 'Arial Narrow';
}
.aura:hover
{
    border-radius: 20%;
    padding: 1%;
    background: url(images/background_purple.png);
    color: white;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;
    opacity: 15%;
    transition:.3s;
}
section
{
    width: 100%;
    height: auto;
    border-radius: 2%;
}
.compte
{
    width: 100%;
    height:auto;
    padding-top: 3%;
    background:url(images/background_snow.jpg);
}
.compteur
{
    overflow: hidden;
    width:100%;
    height: 9%;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:red;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.titre
{
    width: 60%;
    height: auto;
    margin-left: 5%;
    float: left;
    font-family: 'Arial Narrow';
    color: black;
    font-size: 20px;
}
.chiffres
{
    float: right;
    width: 33%;
    height: 10%;
    margin-top: 5%;
}

.chiffre
{
    overflow: hidden;
    font-size: 30px;
    border-radius: 5%;
    width: 10%;
    height: 10%;
    padding: 3%;
    background-color:black;
    color: white;
    text-align: center;
    text-indent: .2%;
    margin-top: 3%;
    margin-right: 1.06%;
}
.commentaire
{
    font-family: 'Arial Narrow';
    font-size: 20px;   
    color: darkslategray;
    float: right;
    margin-right: 7%;
}
.bandeau
{
    width: 100%;
    height:21.3%;
    background-image: url(images/background_purple.png);
    background-repeat: no-repeat;
}
#slideshow {
	position: relative;    /*le parent positionné*/
	width: 96%;          /*limite en largeur (1 élément du slideshow)*/
	height: auto;         /*limite en hauteur*/
	margin: 1.06%;
	overflow: hidden;      /*on cache ce qui déborde*/
}
#sContent {
	position: relative;   /*on sort l'élément du flux*/
	width: 96%;         /*ou 300% car 3 éléments*/
	margin: 0;            
	padding: 1.06%;
    z-index: 1.06%;
    margin-left: 4.4%;
	
	/*CSS3 transition*/
    -webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

aside
{
    font-family: 'Arial Narrow';
    font-size: 10px;
    color:lightgrey;
    padding-top: 45px;
}
.carrecouleur
{
    margin-bottom: 2.12%;
    width: 160px;
    height:120px;
    background-color: darkviolet;
    padding-top: 10px;
    margin-left: 10px;
}
.backgroundbig
{
    width: 140px;
    height: 90px;
    background-image: url(images/transat.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left: 10px;
    padding-top: 10px;
}    
.colonnes
{
    display: flex;
    flex-direction:row;
    width: 100%;
    border-style: dotted;
    border-color: gray;
}
.parasol
{   
    height: 34px;
    margin-left: 15px;
    
}
.parasol:hover
{
    -webkit-animation: parasol .4s; /* Safari, Opera, Chrome */
    animation: parasol .4s; /* Tous les autres navigateurs */
    opacity: 0.4;
    
}
.bouteille
{
    height: 34px;
    margin-left: 10px;
}
.bouteille:hover
{
    -webkit-animation: bouteille .2s; /* Safari, Opera, Chrome */
    animation: bouteille .2s; /* Tous les autres navigateurs */
    -moz-transform:rotate(-15deg);
    -webkit-transform:rotate(-15deg);
    transform:rotate(-15deg);
}
.coton
{
    height: 34px;
    margin-left: 10px;
}
.coton:hover
{
    -webkit-animation: coton .2s; 
    animation: coton .2s;
    margin-left: 4.7%;
}
.megot
{
    height: 34px;
    margin-left: 15px;
}
.megot:hover
{
    -webkit-animation: megot .2s; 
    animation: megot .2s;
    -moz-transform:scale(1.2); 
    -ms-transform:scale(1.2); 
    -o-transform:scale(1.2);
    transform:scale(1.2);
    margin-left:3.7%;
}
.plastique
{
    height: 34px;
    margin-left: 10px;
}
.plastique:hover
{
    -webkit-animation: plastique .2s; 
    animation: plastique .2s;
    -moz-transform:scale(1.25); 
    -ms-transform:scale(1.25); 
    -o-transform:scale(1.25); 
    transform:scale(1.25);
}

li
{
    display: inline-block;
}
.news
{
    display: flex;
    flex-direction: column;
}
.bandeaudroit
{   
    display: flex;
    flex-direction: column;
}
#conteneur
{   
    flex-wrap: wrap;
    font-family: 'Arial Narrow';
    font-size: 10px;
    width: 100%;
    max-height:auto;
}
.cell
{
    display:block;
    width: 33%;
}
h2
{
    font:'Arial';
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    .articles, .bandeaudroit, {
          width: 100%;
          margin-top: 0;
    }}

 .tableaux
{
    width:  280px;
    height: 30%;
    text-align: left;
    text-indent: 10px;
}
.plastiques
{
    height:34px;
    text-align: right;
}
.megots
{
    height:34px;
    text-align: right;
}
.megots:hover
{
border-radius:0px 10px 10px 0px;
background-color:violet;
color :white;
-webkit-animation: megots .3s; 
    animation: megots .3s;
    -moz-transform:scale(1.15); 
    -ms-transform:scale(1.15); 
    -o-transform:scale(1.15); 
    transform:scale(1.15);
opacity: 0.5;
}
.txt_tab
{
    font-size:10px;
    color: darkgrey;
}
.cotontiges
{
    font: bold;
    height:34px;
    text-align: right;
}
.cotontiges:hover
{
border-radius:0px 10px 10px 0px;
background-color:violet;
color: white;
-webkit-animation: cotontiges .3s; 
    animation: cotontiges .3s;
    -moz-transform:scale(1.15); 
    -ms-transform:scale(1.15); 
    -o-transform:scale(1.15); 
    transform:scale(1.15);
opacity: 0.5;
}
.bouteilles
{
    font :bold;
    height:34px;
    text-align: right;
}
.bouteilles:hover
{
border-radius:0px 10px 10px 0px;
background-color:violet;
color: white;
-webkit-animation: bouteilles .3s; 
    animation: bouteilles .3s;
    -moz-transform:scale(1.15); 
    -ms-transform:scale(1.15); 
    -o-transform:scale(1.15); 
    transform:scale(1.15);
opacity: 0.5;
}
.parasols
{
    font: bold;
    height:34px;
    text-align: right;
}
.parasols:hover
{
border-radius:0px 10px 10px 0px;
background-color:violet;
color: white;
-webkit-animation: parasols .3s; 
    animation: parasols .3s;
    -moz-transform:scale(1.15); 
    -ms-transform:scale(1.15); 
    -o-transform:scale(1.15); 
    transform:scale(1.15);
opacity: 0.5;
}
.plastiques:hover
{
border-radius:0px 10px 10px 0px;
background-color:violet;
color: white;
-webkit-animation: plastiques .3s; 
    animation: plastiques .3s;
    -moz-transform:scale(1.15); 
    -ms-transform:scale(1.15); 
    -o-transform:scale(1.15); 
    transform:scale(1.15);
opacity: 0.5;

}
.tableaux img
{
    opacity: 0.4;
}
.element
{   
    width: 240px;
    float: left;
    border: 1px solid black;
    text-align: left;
}
.flexbox
{
    display: flex;
    flex-direction: row;
}

.formulaire
{
    
    margin-top: 4.25%;
    text-align: center;
    height:23%;
    padding: 2.13%;
    background-color:mediumslateblue;
    border-radius: 0.5%;
    margin-right: 2.13%;
}
.formulaire :hover
{
background-color:red;
color: white;
}
form
{
    margin-left: 4.25%;
}
em
{
    color: blue;
}
footer
{
    text-align: center;
}
.loggop
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    opacity: 0.25;
}
.logopp :hover
{
    -webkit-animation: logopp .2s; 
    animation: plastiques .2s;
    opacity: 0.5;
}
